# IDE folder
.idea
.vscode
.vscode-test
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Files
*.local

# Dependency directories
node_modules/

# build
dist/

# Logs / Cache / Temp
logs
*.log
npm-debug.log*

.npm
.eslintcache

.vit
