{
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
